<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>МИИ ЛАБ 1</title>
     <style type="text/css">
           * { margin: 0; padding: 0; }
           p { padding: 10px; }
           #left { float:left; left: 0; top: 0; }
           #right {float:right; right: 0; top: 0;  }
        </style>
</head>
<body>

<div id="left">
	<h4>Ваши данные:</h4>
	<table border="2">
		<tr>
			{% for header in headers %}
				<th> {{header}} </th>
			{% endfor %}
		</tr>
		{% for row in data %}
			<tr>
				{% for item in row %}
				<td> {{item}} </td>
				{% endfor %}
			</tr>
		{% endfor %}
	</table>
</div>

<div id="right">
	<form action={{url_for('show_file',_external=True)}} method="post">
		<p>
			<label>Строки. Начало: </label>
			<input type="number" name="rowsStart">
			<label> Конец: </label>
			<input type="number" name="rowsEnd">
		</p>
		<p>
			<label>Столбцы. Начало:</label>
			<input type="number" name="columnsStart">
			<label> Конец: </label>
			<input type="number" name="columnsEnd">
		</p>
		<p>
			<input type="submit">
		</p>
    </form>

	<div>{{message}}</div>
</div>

</body>
</html>